<div class="container-fluid footer mt-5 text-center">
    <div class="row">
        <!-- name  -->
        <div class="col-lg-3 mt-3 mb-3">
            <h1>FRESH FOOD</h1>
            <p>La mejor comida vegetariana, con el mejor sabor!</p>        
            
        </div>
        <!-- nav  -->
        <div class="col-lg-6 mt-3 mb-3">
            <a routerLink="">Inicio</a>
            <a routerLink="menu">Menu</a>
            <a routerLink="about">Conocenos</a>
            <a routerLink="contact">Contactanos</a>
            <br><br>
            <p>by TomDev ©2023</p>
        </div>
        <!-- socialmedia -->
        <div class="col-lg-3 mt-3 mb-3">
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-whatsapp"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-youtube"></i></a>
        </div>
    </div>
</div>
