<body>
  <main class="contenedor">
    <div class="contacto__titulo centrar-texto">
      <h1>Contactanos</h1>
    </div>
    <div class="contacto">
      <form action="" class="formulario">
        <div class="input_data">
          <input
            type="text"
            name="nombre"
            id="nombre"
            placeholder="NOMBRE"
            required
          />
        </div>
        <div class="input_data">
          <input
            type="text"
            name="apellidos"
            id="apellidos"
            placeholder="APELLIDOS"
            required
          />
        </div>
        <div class="input_data">
          <input type="text" name="dni" id="dni" placeholder="DNI" required />
        </div>
        <div class="input_data">
          <input
            type="email"
            name="correo"
            id="correo"
            placeholder="CORREO"
            required
          />
        </div>
        <div class="input_data">
          <input
            type="tel"
            name="celular"
            id="celular"
            placeholder="CELULAR"
            required
          />
        </div>        
      
        <div class="contacto__button">
          <input type="submit" value="Enviar" class="btn_form" />
        </div>
      </form>

      <div class="contacto__datos">
        <div class="contacto__imagen">
          <img src="../../../assets/llamando.jpg" alt="" />
        </div>        
      </div>

      
    </div>
  </main>
</body>
