<section class="about mt-5 mb-5">
  <h1 class="text-center">Acerca de Nosotros</h1>
  <div class="main">
    <img src="../../../assets/about.jpg" />
    <div class="about-text">
      
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi,
        repellat neque! Laboriosam facere explicabo cum repellendus perspiciatis
        modi qui maxime odit delectus, obcaecati vitae nesciunt! Quis ad
        veritatis voluptatem enim? Lorem ipsum, dolor sit amet consectetur
        adipisicing elit. Eligendi, repellat neque! Laboriosam facere explicabo
        cum repellendus perspiciatis modi qui maxime odit delectus, obcaecati
        vitae nesciunt! Quis ad veritatis voluptatem enim? Lorem ipsum dolor,
        sit amet consectetur adipisicing elit. Quidem amet recusandae, pariatur
        fuga iste, cum laudantium similique architecto consequatur tempora
        dolorum fugit? Inventore aut tempore pariatur, nostrum officia magnam
        quo. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex,
        asperiores quaerat? Doloribus repellat eaque earum cum, recusandae
        laboriosam nulla esse. Incidunt culpa harum voluptates necessitatibus
        quod quas placeat voluptas quam.<br />
      </p>

      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi,
        repellat neque! Laboriosam facere explicabo cum repellendus perspiciatis
        modi qui maxime odit delectus, obcaecati vitae nesciunt! Quis ad
        veritatis voluptatem enim? Lorem ipsum, dolor sit amet consectetur
        adipisicing elit. Eligendi, repellat neque! Laboriosam facere explicabo
        cum repellendus perspiciatis modi qui maxime odit delectus, obcaecati
        vitae nesciunt! Quis ad veritatis voluptatem enim? Lorem ipsum dolor,
        sit amet consectetur adipisicing elit.<br />
      </p>      
    </div>
  </div>
</section>
