form{
    width: 50%;
    margin-top: 5%;
}
img{
    padding: 10px 0px;
    width: 100%;
    height:400px;
    object-fit: cover;
}

@media screen and (max-width:600px){
    form{
        width: 100%;
    }

    button{

        text-align: center;

    }
}